{{! main handlebars file }}

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"
    />
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Three Joe's and Courtney by the Poole - Welcome</title>
  </head>
  <body>
    <header>
      <div id="wrapper" >
        <h1 id="wrapper" >
          Three Joe's and Courtney by the Poole Restaurant
        </h1>
        <nav id="navbar" class="has-background-link-dark">
          <div class="columns">
            <div class="column">
              <a href="/menu">Menu</a>
            </div>
            <div class="column">
              <a href="/order">Order</a>
            </div>
            <div class="column">
              <a href="/about-us">About Us</a>
            </div>
            <div class="column">
              {{#if loggedIn}}
                <a href="/logout">Logout</a>
              {{else}}
                <a href="/login">Login / Sign-Up</a>
              {{/if}}
            </div>
              <div class="column">
                <button class="button is-danger" id="cart-button">View Cart</button>
              </div>
          </div>
        </nav>
      </div><br />
      </div>
      <div class="autoplay">
        <div><img
            src="/images/burger.jpg"/></div>
        <div><img
            src="/images/hotdog.jpg"/></div>
        <div><img
            src="/images/dessert.jpg"/></div> 
    </header>
    <main>
      {{{body}}}
    </main>

    <div class="modal">
      <div class="modal-background"></div>
      <div class="modal-card">
        <header class="modal-card-head">
          <p class="modal-card-title">Your Cart:</p>
          <p class="modal-card-title" id="order-total">Your Total:</p>
          <button class="delete" id="exit-modal" aria-label="close"></button>
        </header>
        <div class="is-hidden" id="payment-info">
          <section class="modal-card-body columns is-multiline">
            <div class="column has-text-centered is-full">
              <p class="title">Payment Function Coming Soon!</p>
              <img src="../images/Puppy-Cat.jpg" alt="Def not a kitty" />
            </div>
          </section>
        </div>
        <section class="modal-card-body columns is-multiline" id="product-display">
          {{!-- Product Displayed --}}
        </section>
        <section class="modal-card-body box columns is-multiline" id="order-breakdown">
          {{!-- Cart Breakdown --}}
            <div class="column is-full">
                <p class="title is-4 has-text-centered">
                  Foods:
                </p>
            </div>
            <div class="column is-full">
              <div class="columns is-multiline" id="item-breakdown">
                {{!-- Item Breakdown --}}
                <div class="column is-half">
                    <p class="title is-5" id="item-name">
                      {{!-- item name --}}
                      butt
                    </p>
                </div>
                <div class="column is-half">
                    <p class="title is-5 has-text-right" id="item-price">
                      {{!-- item price --}}
                      pee
                    </p>
                </div>
              </div>
            </div>
            <div class="column is-full">
              <p class="title is-4 has-text-centered" id="secondary-total"> Total Payment: 1,9999{{!-- item total --}} </p>
            </div>
        </section>
        <footer class="modal-card-foot columns is-centered">
          <button class="button is-success" id="proceed-button">PROCEED TO PAYMENT!</button>
          <button class="button" id="exit-modal">ADD MORE STUFF!</button>
        </footer>
      </div>
    </div>

    <footer class="has-text-centered">
      <br/>
      Thanks for visiting!
    </footer>

    <script
      src="/javascript/modal.js">
    </script>
    <script
      type="text/javascript"
      src="//code.jquery.com/jquery-1.11.0.min.js"
    ></script>
    <script
      type="text/javascript"
      src="//code.jquery.com/jquery-migrate-1.2.1.min.js"
    ></script>
    <script
      type="text/javascript"
      src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"
    ></script>
    <script type="text/javascript">
      $('.autoplay').slick({ slidesToShow: 1, slidesToScroll: 1, autoplay: true,
      autoplaySpeed: 3000, arrows: false, adaptiveHeight: true });
    </script>
  </body>
</html>

