<br>

<div class="github-link">
  <p>Visit the GitHub repo for this group project
    <a href="https://github.com/courtcoder/Three-Joes" target="_blank">
      here!
    </a></p></div>

    <br>

    <p>
      <div class="members">
       Founding Members: 
       <br>
       Joe Barbone, Joe Darville, Joe Gallina, Courtney Casci, and Bryce Poole.
      </div>
    </p>

    <br>

    <p>
      <div class="story">
        Our Story:
        <br>
        We all met in a coding Bootcamp at the University of Central Florida in summer of 2022. We became fast friends and formed a study group. During our study sessions we would frequently meet up at a local american pub to talk about our coding projects and assignments. We also had a lot of fun playing around with the codebase and learning new things. We ended up creating a group project that we called Three Joes & Courtney by the Poole (clever we know. Ol Joe B came up with the name) based on this very restaurant. After some time we decided to take our group project and make it a real thing.  We decided to make an All American Pub serving the best burgers, dogs, apps, and desserts in the Orlando area. 
      </div>  
    </p>

  <br>


    <address>
      <div class="address">
        COME SEE US!<br>
      4000 Central Florida Blvd<br>
      Orlando, FL<br>
      32816
      </div>
    </address>

    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d28090.11026382935!2d-81.23204725000001!3d28.350873600000003!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88e7685d6a0a495f%3A0x5fd59b92b3c79bab!2sUniversity%20of%20Central%20Florida!5e0!3m2!1sen!2sus!4v1659299274745!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
