<div class="has-text-centered"><p>A completely fake restaurant owned and
    operated by Joe Barbone, Courtney Casci, Joseph Darville, Joe Gallina, and
    Bryce Poole!</p>
  <p>Visit the GitHub repo for this group project
    <a href="https://github.com/courtcoder/Three-Joes" target="_blank">
      here!
    </a></p></div>