<div class="main-content">
  <h1>Welcome to Three Joe's and Courtney by the Poole Restaurant!</h1>
  <h3>We're a locally-owned, completely fake restaurant serving up burgers and
    dogs!</h3>
</div>
