{{#if loggedIn}}
<a href="/logout">Logout</a>
{{/if}}
<div>Menu Content Here!</div>
<p>Username: {{username}}</p>
<p>First name: {{first_name}}</p>
<p>Last name: {{last_name}}</p>
<p>Is user logged in? {{loggedIn}}</p>
