<div class="title has-text-centered">Checkout</div>
<div class="columns mx-2 mb-5">
  <div class="column">
    <p class="title is-4">Payment Information</p>
    <input class="input" type="text" placeholder="Name on Card" />
    <div class="columns">
      <div class="column">
        <input class="input" type="text" placeholder="Card Number" />
      </div>
      <div class="column">
        <input class="input" type="text" placeholder="CVV" />
      </div>
    </div>
  </div>
  <div class="column">
    <div class="box column">words</div>
  </div>
</div>
<div class="columns mx-2 mb-5">
  <div class="column is-full">
    <div class="box column">words</div>
  </div>
  <div class="column">
    <div class="box column">words</div>
  </div>
</div>
<div class="columns mx-2 mb-5">
  <div class="column">
    <div class="box column">words</div>
  </div>
  <div class="column">
    <div class="box column">words</div>
  </div>
</div>